.selector-line-button {
    margin: 0.2em;
    width: 5em;
}

.selector-modal .modal-dialog {
    max-width: 100% !important;
    margin: 1em;
    padding: 0;
}

.selector-separator {
    margin-top: 1em;
}

.selector-separator-small {
    margin-top: 0.5em;
}

.selector-separator-left {
    margin-left: 1em;
}

.selector-separator-left-small {
    margin-left: 1em;
}

.selector-line-number {
    width: 5em;
    display: inline-block;
    text-align: center;
}

.selector-inline-block {
    display: inline-block;
}

.selector-line-spinner {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 767px) {
    .selector-title-button {
        margin-bottom: 1em;
    }
}